
@import "themes/default/variables";

/* Vendor
 * ---------------------------------------------------- */
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$fa-font-path: '~font-awesome/fonts';
@import "~font-awesome/scss/font-awesome";

@import "themes/default/default.scss";
@import "lib/bootstrap-social.scss";

@import "node_modules/basscss-sass/scss/basscss.scss";


/* Components
 * ---------------------------------------------------- */
@import "components/components.scss";

// Scaffolding
// -------------------------


html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}